[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Actions=sendFile;
MimeType=all/allfiles;

[Desktop Action sendFile]
Name=Send file to IM contact
Icon=telepathy-kde
Exec=ktp-send-file %U
