[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Actions=sendFile;
MimeType=all/allfiles;

[Desktop Action sendFile]
Name=Send file to IM contact
Name[ast]=Unviar ficheru al contautu
Name[bs]=Slanje datoteke na IM kontakt
Name[ca]=Envia fitxer a contacte de MI
Name[ca@valencia]=Envia fitxer a contacte de MI
Name[cs]=Poslat soubor kontaktu na IM
Name[da]=Send fil til IM-kontakt
Name[de]=Datei an einen Instant-Messenger-Kontakt senden
Name[el]=αποστολή αρχείου σε επαφή στιγμιαίου μηνύματος
Name[en_GB]=Send file to IM contact
Name[es]=Enviar archivo a un contacto de MI
Name[et]=Faili saatmine kiirsuhtluskontaktile
Name[fa]=ارسال پرونده برای مخاطب پیام رسان فوری
Name[fi]=Lähetä tiedosto pikaviestimen käyttäjälle
Name[fr]=Envoi d'un fichier à un contact de la messagerie instantanée
Name[ga]=Seol comhad chuig theagmháil TM
Name[gl]=Enviarlle o ficheiro ao contacto
Name[hu]=Fájlküldés azonnali üzenetküldési partnernek
Name[ia]=Invia file a contacto de IM
Name[it]=Invia file a contatto di MI
Name[kk]=ЛХ контактына файлды жіберу
Name[km]= 
Name[ko]=IM 대화 상대에게 파일 보내기
Name[lt]=Siųsti failą TP kontaktui
Name[mr]=आयएम संपर्काकडे फाईल पाठवा
Name[nb]=Send fil til lynmeldingskontakt
Name[nds]=En KN-Kontakt en Datei tostüern
Name[nl]=Bestand naar IM-contactpersoon verzenden
Name[pa]=IM ਸੰਪਰਕ ਨੂੰ ਫਾਇਲ ਭੇਜੋ
Name[pl]=Wyślij plik do kontaktu komunikatora internetowego
Name[pt]=Enviar o ficheiro para o contacto MI
Name[pt_BR]=Enviar arquivo por mensagem instantânea
Name[ro]=Trimite fișier unui contact de MI
Name[ru]=Отправить файл собеседнику...
Name[sk]=Poslať súbor IM kontaktu
Name[sl]=Pošlji datoteko stiku hipnega sporočanja
Name[sr]=Пошаљи фајл ИМ контакту
Name[sr@ijekavian]=Пошаљи фајл ИМ контакту
Name[sr@ijekavianlatin]=Pošalji fajl IM kontaktu
Name[sr@latin]=Pošalji fajl IM kontaktu
Name[sv]=Skicka fil till direktmeddelandekontakt
Name[tr]=IM kişisine dosya gönder
Name[ug]=مۇڭداشقۇدىكى ئالاقەداشقا ھۆججەت ئەۋەتىش
Name[uk]=Надіслати файл контакту
Name[wa]=Evoyî fitchî a on soçon d' MSM
Name[x-test]=xxSend file to IM contactxx
Name[zh_CN]=发送文件给即时通讯联系人
Name[zh_TW]=傳送檔案給即時訊息聯絡人
Icon=telepathy-kde
Exec=ktp-send-file %U
