[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Actions=sendFile;
MimeType=all/allfiles;

[Desktop Action sendFile]
Name=Send file to IM contact
Name[bs]=Slanje datoteke na IM kontakt
Name[ca]=Envia fitxer a contacte de MI
Name[cs]=Poslat soubor kontaktu na IM
Name[da]=Send fil til IM-kontakt
Name[de]=Datei an einen Instant-Messenger-Kontakt senden
Name[el]=αποστολή αρχείου σε επαφή στιγμιαίου μηνύματος
Name[es]=Enviar archivo a un contacto de MI
Name[et]=Faili saatmine kiirsuhtluskontaktile
Name[fi]=Lähetä tiedosto pikaviestimen käyttäjälle
Name[fr]=Envoi d'un fichier à un contact de la messagerie instantanée
Name[ga]=Seol comhad chuig theagmháil TM
Name[gl]=Enviarlle o ficheiro ao contacto
Name[hu]=Fájlküldés azonnali üzenetküldési partnernek
Name[it]=Invia file a contatto di MI
Name[kk]=ЛХ контактына файлды жіберу
Name[lt]=Siųsti failą TP kontaktui
Name[nb]=Send fil til lynmeldingskontakt
Name[nl]=Bestand naar IM-contactpersoon verzenden
Name[pl]=Wyślij plik do kontaktu komunikatora internetowego
Name[pt]=Enviar o ficheiro para o contacto MI
Name[pt_BR]=Enviar arquivo para contato IM
Name[ro]=Trimite fișier unui contact de MI
Name[ru]=Отправка файла собеседнику
Name[sk]=Poslať súbor IM kontaktu
Name[sr]=Пошаљи фајл ИМ контакту
Name[sr@ijekavian]=Пошаљи фајл ИМ контакту
Name[sr@ijekavianlatin]=Pošalji fajl IM kontaktu
Name[sr@latin]=Pošalji fajl IM kontaktu
Name[sv]=Skicka fil till direktmeddelandekontakt
Name[uk]=Надіслати файл контакту
Name[x-test]=xxSend file to IM contactxx
Name[zh_CN]=发送文件到即时通讯联系人
Name[zh_TW]=傳送檔案給即時訊息聯絡人
Icon=telepathy-kde
Exec=ktp-send-file %u
