[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Actions=sendFile;
MimeType=all/allfiles;

[Desktop Action sendFile]
Name=Send file via Telepathy
Icon=telepathy-kde
Exec=telepathy-kde-send-file %u
